.error-image {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  justify-content: center;
  color: white;
  background-color: #417c50;
  width: 100%;
  border-radius: 24px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: white;
  color: #417c50;
}

.btn:focus {
  background-color: white;
  color: #417c50;
}

.input-field {
  margin-bottom: 0px;
}

.input-field input[type='tel']:focus + label {
  color: #417c50 !important;
}

.input-field .prefix.active {
  color: #417c50 !important;
}

.input-field input[type='tel']:focus {
  border-bottom: 1px solid #417c50 !important;
  box-shadow: 0 1px 0 0 #417c50 !important;
  color: black;
}

.welcome-text {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  right: 12px;
  left: 12px;
}

.vertical-space {
  height: 3rem;
}

.instructions {
  font-family: 'Lato', sans-serif;
}

.red-text {
  display: block;
}

.header-text {
  font-family: 'Merriweather', serif;
  text-align: center;
  display: grid;
  align-content: end;
  color: #417c50;
  right: 2%;
  left: 2%;
  font-size: 36px;
  line-height: 18rem;
}

.header-space {
  height: 18rem;
}

@media (max-width: 1000px) {
  .header-text {
    line-height: 15rem;
  }

  .header-space {
    height: 15rem;
  }
}

@media (max-width: 800px) {
  .header-text {
    line-height: 12rem;
  }

  .header-space {
    height: 12rem;
  }
}

@media (max-width: 600px) {
  .header-text {
    line-height: 10rem;
  }

  .header-space {
    height: 10rem;
  }
}

@media (max-width: 400px) {
  .header-text {
    line-height: 7rem;
  }

  .header-space {
    height: 7rem;
  }
}

.login-image {
  width: 30%;
  margin-left: 35%;
}
