.weather-text {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
}

.home-text {
    font-family: 'Merriweather', serif;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-flat {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.greet-space {
    height: 20px;
}

@media (max-width: 390px) {
    .btn-flat {
        font-size: 11px;
    }
}
