.weather-text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lato', sans-serif;
}

.home-padding {
  position: absolute;
  font-family: 'Merriweather', serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-flat {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.greet-space {
  height: 20px;
}

.title-dashboard {
  font-family: Playfair Display, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  color: #5c657b;
  margin-bottom: 2rem;
}

.title-party {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.13em;
  color: #5C657B;
}

.text-dashboard {
  font-family: Lato, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #6c7482;
}

.mb2 {
  margin-bottom: 2rem;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-position {
  margin-top: -30%;
}

.margin-section {
  margin-left: 1rem;
  margin-right: 1rem;
}
