.no-padding {
  padding: 0;
}

.size-header {
  width: 100%;
}

.date-header {
  text-align: center;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.13em;
  margin-top: -125px;

  color: #5c657b;
}
