.header-text {
    font-family: 'Italianno', cursive;
    position: absolute;
    right: 1%;
    left: 1%;
    top: 60px;
}

@media only screen and (min-width: 1000px) {
    .header-text {
        top: 300px
    }
}

@media only screen and (min-width: 1500px) {
    .header-text {
        top: 400px
    }
}

.header-image {
    width: 100%;
}

.footer-image {
    width: 100%;
}
